flows/factory-iiot-flow.json
[
  {
    "id": "factory-flow",
    "type": "tab",
    "label": "Factory IIoT",
    "disabled": false,
    "info": "LoRaWAN uplink processing, MQTT integration, dashboard, and alarms."
  },
  {
    "id": "mqtt-in-telemetry",
    "type": "mqtt in",
    "z": "factory-flow",
    "name": "ChirpStack uplinks",
    "topic": "application/+/device/+/event/up",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 120,
    "wires": [["json-parse"]]
  },
  {
    "id": "json-parse",
    "type": "json",
    "z": "factory-flow",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 390,
    "y": 120,
    "wires": [["decode-uplink"]]
  },
  {
    "id": "decode-uplink",
    "type": "function",
    "z": "factory-flow",
    "name": "Decode payload",
    "func": "const uplink = msg.payload || {};\nlet decoded = {};\nif (uplink.data) {\n    try {\n        const asJson = Buffer.from(uplink.data, 'base64').toString();\n        decoded = JSON.parse(asJson);\n    } catch (err) {\n        node.warn(`Base64/JSON decode failed: ${err.message}`);\n    }\n}\nconst rxInfo = uplink.rxInfo && uplink.rxInfo[0] ? uplink.rxInfo[0] : {};\nmsg.payload = {\n    sensor: decoded.sensor || uplink.deviceName || 'unknown-sensor',\n    value: typeof decoded.value === 'number' ? decoded.value : decoded.measurement || null,\n    unit: decoded.unit || decoded.type || '',\n    timestamp: decoded.timestamp || rxInfo.time || uplink.publishedAt || new Date().toISOString(),\n    application: uplink.applicationName || 'factory-floor',\n    device: uplink.deviceName || 'device'\n};\nmsg.topic = msg.payload.sensor;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 120,
    "wires": [["sensor-switch", "chart-formatter", "temp-alert"]]
  },
  {
    "id": "chart-formatter",
    "type": "function",
    "z": "factory-flow",
    "name": "Chart point",
    "func": "const cloned = RED.util.cloneMessage(msg);\ncloned.payload = Number(msg.payload.value);\nreturn cloned;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 60,
    "wires": [["trend-chart"]]
  },
  {
    "id": "trend-chart",
    "type": "ui_chart",
    "z": "factory-flow",
    "name": "Sensor trends",
    "group": "trend-group",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Telemetry",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "waiting for uplinks...",
    "dot": false,
    "ymin": "0",
    "ymax": "80",
    "removeOlder": 1,
    "removeOlderPoints": "120",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#ff9900", "#0099ff", "#6f42c1"],
    "outputs": 1,
    "useOldStyle": false,
    "x": 1090,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "sensor-switch",
    "type": "switch",
    "z": "factory-flow",
    "name": "Route per sensor",
    "property": "payload.sensor",
    "propertyType": "msg",
    "rules": [
      { "t": "cont", "v": "Temp", "vt": "str" },
      { "t": "cont", "v": "Humidity", "vt": "str" },
      { "t": "cont", "v": "Vibe", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 840,
    "y": 200,
    "wires": [["temp-gauge", "temp-log"], ["hum-gauge", "hum-log"], ["vibe-gauge", "vibe-log"]]
  },
  {
    "id": "temp-gauge",
    "type": "function",
    "z": "factory-flow",
    "name": "Temp gauge payload",
    "func": "const clone = RED.util.cloneMessage(msg);\nclone.payload = Number(msg.payload.value);\nreturn clone;",
    "outputs": 1,
    "noerr": 0,
    "x": 1090,
    "y": 160,
    "wires": [["ui-temp-gauge"]]
  },
  {
    "id": "ui-temp-gauge",
    "type": "ui_gauge",
    "z": "factory-flow",
    "name": "Machine temp",
    "group": "gauges-group",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b894", "#f1c40f", "#d63031"],
    "seg1": 60,
    "seg2": 80,
    "x": 1320,
    "y": 160,
    "wires": []
  },
  {
    "id": "hum-gauge",
    "type": "function",
    "z": "factory-flow",
    "name": "Humidity gauge payload",
    "func": "const clone = RED.util.cloneMessage(msg);\nclone.payload = Number(msg.payload.value);\nreturn clone;",
    "outputs": 1,
    "noerr": 0,
    "x": 1110,
    "y": 220,
    "wires": [["ui-hum-gauge"]]
  },
  {
    "id": "ui-hum-gauge",
    "type": "ui_gauge",
    "z": "factory-flow",
    "name": "Machine humidity",
    "group": "gauges-group",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "compass",
    "title": "Humidity (%RH)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#0984e3", "#74b9ff", "#a29bfe"],
    "seg1": 40,
    "seg2": 70,
    "x": 1340,
    "y": 220,
    "wires": []
  },
  {
    "id": "vibe-gauge",
    "type": "function",
    "z": "factory-flow",
    "name": "Vibration gauge payload",
    "func": "const clone = RED.util.cloneMessage(msg);\nclone.payload = Number(msg.payload.value);\nreturn clone;",
    "outputs": 1,
    "noerr": 0,
    "x": 1120,
    "y": 280,
    "wires": [["ui-vibe-gauge"]]
  },
  {
    "id": "ui-vibe-gauge",
    "type": "ui_gauge",
    "z": "factory-flow",
    "name": "Machine vibration",
    "group": "gauges-group",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Vibration (mm/s)",
    "label": "mm/s",
    "format": "{{value}}",
    "min": 0,
    "max": 40,
    "colors": ["#6c5ce7", "#fd79a8", "#e17055"],
    "seg1": 15,
    "seg2": 25,
    "x": 1340,
    "y": 280,
    "wires": []
  },
  {
    "id": "temp-log",
    "type": "function",
    "z": "factory-flow",
    "name": "Temp text",
    "func": "const clone = RED.util.cloneMessage(msg);\nclone.payload = `${msg.payload.sensor}: ${msg.payload.value} ${msg.payload.unit} @ ${msg.payload.timestamp}`;\nreturn clone;",
    "outputs": 1,
    "noerr": 0,
    "x": 1090,
    "y": 340,
    "wires": [["ui-temp-text"]]
  },
  {
    "id": "ui-temp-text",
    "type": "ui_text",
    "z": "factory-flow",
    "group": "log-group",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Temp log",
    "label": "Temp",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1330,
    "y": 340,
    "wires": []
  },
  {
    "id": "hum-log",
    "type": "function",
    "z": "factory-flow",
    "name": "Humidity text",
    "func": "const clone = RED.util.cloneMessage(msg);\nclone.payload = `${msg.payload.sensor}: ${msg.payload.value} ${msg.payload.unit} @ ${msg.payload.timestamp}`;\nreturn clone;",
    "outputs": 1,
    "noerr": 0,
    "x": 1110,
    "y": 400,
    "wires": [["ui-hum-text"]]
  },
  {
    "id": "ui-hum-text",
    "type": "ui_text",
    "z": "factory-flow",
    "group": "log-group",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Humidity log",
    "label": "Humidity",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1350,
    "y": 400,
    "wires": []
  },
  {
    "id": "vibe-log",
    "type": "function",
    "z": "factory-flow",
    "name": "Vibration text",
    "func": "const clone = RED.util.cloneMessage(msg);\nclone.payload = `${msg.payload.sensor}: ${msg.payload.value} ${msg.payload.unit} @ ${msg.payload.timestamp}`;\nreturn clone;",
    "outputs": 1,
    "noerr": 0,
    "x": 1120,
    "y": 460,
    "wires": [["ui-vibe-text"]]
  },
  {
    "id": "ui-vibe-text",
    "type": "ui_text",
    "z": "factory-flow",
    "group": "log-group",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Vibration log",
    "label": "Vibration",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1350,
    "y": 460,
    "wires": []
  },
  {
    "id": "temp-alert",
    "type": "function",
    "z": "factory-flow",
    "name": "High-temp alarm",
    "func": "if (!msg.payload || typeof msg.payload.value !== 'number') {\n    return null;\n}\nconst isTemp = (msg.payload.sensor || '').toLowerCase().includes('temp');\nif (isTemp && msg.payload.value > 60) {\n    const alertMsg = RED.util.cloneMessage(msg);\n    alertMsg.payload = `High temp: ${msg.payload.value} ${msg.payload.unit}`;\n    return alertMsg;\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 870,
    "y": 360,
    "wires": [["ui-alert", "alert-debug"]]
  },
  {
    "id": "ui-alert",
    "type": "ui_toast",
    "z": "factory-flow",
    "position": "top right",
    "displayTime": "5",
    "highlight": "red",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "High temperature",
    "name": "Temp > 60°C",
    "x": 1120,
    "y": 520,
    "wires": []
  },
  {
    "id": "alert-debug",
    "type": "debug",
    "z": "factory-flow",
    "name": "Alarm log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1110,
    "y": 580,
    "wires": []
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "gauges-group",
    "type": "ui_group",
    "name": "Machine health",
    "tab": "dashboard-tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "trend-group",
    "type": "ui_group",
    "name": "Trends",
    "tab": "dashboard-tab",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "log-group",
    "type": "ui_group",
    "name": "Latest readings",
    "tab": "dashboard-tab",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "dashboard-tab",
    "type": "ui_tab",
    "name": "Factory floor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
